<a href="https://colab.research.google.com/github/Abhishekkumar903/-Hangman-Game/blob/main/Import%20All%20dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Import All Data Set(csv,excel,sql,APIS) To Fetching Data**

In [ ]:
A= [2,3,4,5,6,7,8,9,]
for i in A:
  print(i**3)
def average(values):
  return sum(values)/len(values)
print("average",average(A))

8
27
64
125
216
343
512
729
average 5.5

In [ ]:
#pip install openpyxl
#write dataframe to Excel save one sheet
data.to_excel("trips_data.xlsx",sheet_name="sheet",index=False)
print(data.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
data

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
# pip install sqlite3 # sqlite3 is a built-in Python module and does not need to be installed.

In [11]:
import sqlite3
# Create an in-memory database
conn = sqlite3.connect(":memory:")
# Write DataFrame to SQL table
data.to_sql("tips_table", conn, index=False, if_exists="replace")

244

In [15]:
# Read data back from SQL
sql_data = pd.read_sql("SELECT * FROM tips_table WHERE total_bill > 10",
conn)
sql_data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [34]:
#Let’s use a free sample API that returns JSON (fake user data):
#pip install requests
import requests
url = "https://api.open-meteo.com/v1/forecast?latitude=28.6139&longitude=77.2090&current_weather=true"

response = requests.get(url)

In [39]:
# Check status
print("Status Code:", response.status_code)

Status Code: 200

In [55]:
#data.head()
data.info ()
#data.describe ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [42]:
print(users["current_weather"])

{'time': '2026-01-28T11:00', 'interval': 900, 'temperature': 18.8, 'windspeed': 8.9, 'winddirection': 317, 'is_day': 1, 'weathercode': 2}

In [36]:
# Convert to JSON
users = response.json()
print(users)

{'latitude': 28.625, 'longitude': 77.25, 'generationtime_ms': 0.05650520324707031, 'utc_offset_seconds': 0, 'timezone': 'GMT', 'timezone_abbreviation': 'GMT', 'elevation': 214.0, 'current_weather_units': {'time': 'iso8601', 'interval': 'seconds', 'temperature': '°C', 'windspeed': 'km/h', 'winddirection': '°', 'is_day': '', 'weathercode': 'wmo code'}, 'current_weather': {'time': '2026-01-28T11:00', 'interval': 900, 'temperature': 18.8, 'windspeed': 8.9, 'winddirection': 317, 'is_day': 1, 'weathercode': 2}}

In [43]:
print(response.status_code)

200

In [54]:
data.head()
#data.info ()
#data.describe ()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [44]:
#APIS featchin data
url = "https://jsonplaceholder.typicode.com/users"
response = requests.get(url)

In [45]:
# Check status
print("Status Code:", response.status_code)

Status Code: 200

In [46]:
# Convert to JSON
users = response.json()
print(users[0])

{'id': 1, 'name': 'Leanne Graham', 'username': 'Bret', 'email': 'Sincere@april.biz', 'address': {'street': 'Kulas Light', 'suite': 'Apt. 556', 'city': 'Gwenborough', 'zipcode': '92998-3874', 'geo': {'lat': '-37.3159', 'lng': '81.1496'}}, 'phone': '1-770-736-8031 x56442', 'website': 'hildegard.org', 'company': {'name': 'Romaguera-Crona', 'catchPhrase': 'Multi-layered client-server neural-net', 'bs': 'harness real-time e-markets'}}

In [49]:
  # print first record
#Now, convert it into a pandas DataFrame:
df_users = pd.DataFrame(users)
df_users.head()

,id,name,username,email,address,phone,website,company
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu..."
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac..."
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ..."
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult..."
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c..."

In [50]:
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [51]:
data.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [56]:
#data.describe ()

In [57]:
print(data.isna())

     total_bill    tip    sex  smoker    day   time   size
0         False  False  False   False  False  False  False
1         False  False  False   False  False  False  False
2         False  False  False   False  False  False  False
3         False  False  False   False  False  False  False
4         False  False  False   False  False  False  False
..          ...    ...    ...     ...    ...    ...    ...
239       False  False  False   False  False  False  False
240       False  False  False   False  False  False  False
241       False  False  False   False  False  False  False
242       False  False  False   False  False  False  False
243       False  False  False   False  False  False  False

[244 rows x 7 columns]

In [58]:
print(data.isnull())

     total_bill    tip    sex  smoker    day   time   size
0         False  False  False   False  False  False  False
1         False  False  False   False  False  False  False
2         False  False  False   False  False  False  False
3         False  False  False   False  False  False  False
4         False  False  False   False  False  False  False
..          ...    ...    ...     ...    ...    ...    ...
239       False  False  False   False  False  False  False
240       False  False  False   False  False  False  False
241       False  False  False   False  False  False  False
242       False  False  False   False  False  False  False
243       False  False  False   False  False  False  False

[244 rows x 7 columns]

In [60]:
print(data.isna().sum())

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [65]:
print(data.isnull().sum().sum())

0

In [67]:
print(data[data.isnull().any(axis=1)])

Empty DataFrame
Columns: [total_bill, tip, sex, smoker, day, time, size]
Index: []

In [68]:
print(data.notna())

     total_bill   tip   sex  smoker   day  time  size
0          True  True  True    True  True  True  True
1          True  True  True    True  True  True  True
2          True  True  True    True  True  True  True
3          True  True  True    True  True  True  True
4          True  True  True    True  True  True  True
..          ...   ...   ...     ...   ...   ...   ...
239        True  True  True    True  True  True  True
240        True  True  True    True  True  True  True
241        True  True  True    True  True  True  True
242        True  True  True    True  True  True  True
243        True  True  True    True  True  True  True

[244 rows x 7 columns]